<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!-- Local Evirement Connectionstring -->
    <!--<add name="eknowIDContext" connectionString="data source=683-2140\SQLEXPRESS;initial catalog=ProducationBuild; MultipleActiveResultSets=True;integrated security=true;App=EntityFramework" providerName="System.Data.SqlClient" />-->

    <!-- Stagning Envirement Connectionstring -->
    <add name="EknowIDEntities" connectionString="metadata=res://*/EknowID.csdl|res://*/EknowID.ssdl|res://*/EknowID.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=74.208.246.224\sqlexpress;Initial Catalog=ProducationBuild;Persist Security Info=True;User ID=sa;Password=eknowid;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!-- Live Envirement Connectionstring -->
    <!--<add name="EknowIDEntities" connectionString="metadata=res://*/EknowID.csdl|res://*/EknowID.ssdl|res://*/EknowID.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s15427768\SQLEXPRESS;Initial Catalog=Production1.5;Persist Security Info=True;User ID=sa;Password=eknowid;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="EknowIDEntities" connectionString="metadata=res://*/EknowID.csdl|res://*/EknowID.ssdl|res://*/EknowID.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=74.208.14.75\SQLEXPRESS;Initial Catalog=Production1.5;Persist Security Info=True;User ID=sa;Password=eknowid;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>