<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
    </authentication>
  </system.web>

  <connectionStrings>
    <!-- Local Eveniremrnt Connection string -->
    <!--<add name="eknowIDContext" connectionString="data source=683-2140\SQLEXPRESS;initial catalog=Production1.5; MultipleActiveResultSets=True;integrated security=true;App=EntityFramework" providerName="System.Data.SqlClient" />-->

    <!-- Stagning Envirement Connection string -->
    <add name="eknowIDContext" connectionString="data source=74.208.246.224\sqlexpress;initial catalog=ProducationBuild; uid= sa; pwd=eknowid;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <!-- Live Envirement Connection string -->
    <!--<add name="eknowIDContext" connectionString="data source=s15427768\SQLEXPRESS;initial catalog=Production1.5; uid= sa; pwd=eknowid;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <appSettings>

    <!--Ekentech Live List of offer  -->
    <add key="ExpressLiteOffer" value="EXPRESS_LITE" />
    <add key="StandardOffer" value="THE_STANDARD" />
    <add key="TopHireOffer" value="TOP_HIRE" />
    <add key="TopHirecitizant" value="TOP_HIRE_CITIZANT" />

    <!--Ekentech Test List of offer  -->
    <!--<add key="ExpressLiteOffer" value="EXPRESSLITE" />
    <add key="StandardOffer" value="THESTANDARD" />
    <add key="TopHireOffer" value="TOPHIRE" />
    <add key="TopHirecitizant" value="TOP_HIRE_CITIZANT" />-->

    <!-- Wrapper partner account credentials key -->
    <add key="WrapperPartnerApiKey" value="e63dfcab300260b2591f585126ede56627db4ef8" />
  </appSettings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>