<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!--Eknowid List of Offers -->
    <add key="EknowidBasicOffer" value="BASIC" />
    <add key="EkknowidStandardOffer" value="STANDARD" />
    <add key="EknowidPremiumOffer" value="PREMIUM" />
    <add key="WrapperPartnerApiKey" value="e63dfcab300260b2591f585126ede56627db4ef8" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!-- Local Evirement Connectionstring -->
    <!--<add name="eknowIDContext" connectionString="data source=683-2140\SQLEXPRESS;initial catalog=ProducationBuild; MultipleActiveResultSets=True;integrated security=true;App=EntityFramework" providerName="System.Data.SqlClient" />-->

    <!-- Stagning Envirement Connectionstring -->
    <add name="eknowIDContext" connectionString="data source=74.208.246.224\sqlexpress;initial catalog=ProducationBuild; uid= sa; pwd=eknowid;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <!-- Live Envirement Connectionstring -->
    <!--<add name="eknowIDContext" connectionString="data source=s15427768\SQLEXPRESS;initial catalog=Production1.5; uid= sa; pwd=eknowid;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="eknowIDContext" connectionString="data source=74.208.14.75\SQLEXPRESS;initial catalog=Production1.5; uid= sa; pwd=eknowid;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>