<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Log For Net -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>

  <!--  DataBase Connection Setting -->
  <connectionStrings>

    <!-- Statging Connection string -->
    <add name="EknowIDEntities" connectionString="metadata=res://*/EknowID.csdl|res://*/EknowID.ssdl|res://*/EknowID.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=74.208.246.224\sqlexpress;Initial Catalog=ProducationBuild;Persist Security Info=True;User ID=sa;Password=eknowid;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!-- Producation Connection string -->
    <!--<add name="EknowIDEntities" connectionString="metadata=res://*/EknowID.csdl|res://*/EknowID.ssdl|res://*/EknowID.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s15427768\SQLEXPRESS;Initial Catalog=Production1.5;Persist Security Info=True;User ID=sa;Password=eknowid;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>

  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <!-- Example of how to configure the AdoNetAppender to connect to MS SQL Server -->
    <appender name="ADONetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="100" />

      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

      <!-- Live Envirement Settings -->
      <!--<connectionString value="data source=s15427768\SQLEXPRESS;initial catalog=Production1.5;integrated security=false;persist security info=True;User ID=sa;Password=eknowid" />
      <add name="EknowIDEntities" connectionString="metadata=res://*/EknowID.csdl|res://*/EknowID.ssdl|res://*/EknowID.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s15427768\SQLEXPRESS;Initial Catalog=Production1.5;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

      <!-- Stagin Envirement Settings -->
      <connectionString value="data source=74.208.246.224\sqlexpress;initial catalog=ProducationBuild;integrated security=false;persist security info=True;User ID=sa;Password=eknowid" />
      <add name="EknowIDEntities" connectionString="metadata=res://*/EknowID.csdl|res://*/EknowID.ssdl|res://*/EknowID.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=74.208.246.224\sqlexpress;Initial Catalog=ProducationBuild;Persist Security Info=True;User ID=sa;Password=eknowid;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message]) VALUES (@log_date, @thread, @log_level, @logger, @message)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />

        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
    </appender>

    <!--<logger name="EknowIDStatusEnquiry.Program">
       <appender-ref ref="b" /> 
      <level value="all" />
      <appender-ref ref="ADONetAppender_SqlServer" />
    </logger>-->
  </log4net>

  <!-- TazWorks Setting -->
  <appSettings>

    <!-- Testing Envirement Credentials -->
    <add key="tazworksuserid" value="kentech_xml" />
    <add key="tazworkspwd" value="password12" />
    <add key="tazworksproduct" value="xml interchange testing" />
    <add key="tazworksurl" value="https://lightning.instascreen.net/send/interchange" />


    <!-- Live Envirement Credentials -->
    <!--<add key="TazWorksUserId" value="eknowid_xml" />
    <add key="TazWorksPwd" value="ek0w1d-xm1!$" />
    <add key="TazWorksProduct" value="eknowid ala carte" />
    <add key="TazWorksURL" value="https://eknowid.instascreen.net/send/interchange" />-->

    <!-- Email Templates Path -->
    <add key="Email" value="support@eknowid.com" />

    <!-- Live envirement email path -->
    <!--<add key="EmailFullPath" value="C:\\Production Build\\1.4\\02072013\\Code\\EKnowID\\Htmls\\Emails\\StatusComplete.html" />-->

    <!-- Staging envirement email path -->
    <add key="EmailFullPath" value="C:\\eKnowID_staging\\eKnowID\\Htmls\\Emails\\StatusComplete.html" />

    <!-- Developer email support -->
    <add key="DeveloperEmailSubject" value="eknowId Status enquiry service Error Log" />
    <add key="DeveloperEmailDisplayName" value="Error Log" />
    <add key="DeveloperEmail" value="varuna@alohatechnology.com" />
    <add key="FromEmailAddress" value="support@eknowid.com" />
    <add key="ServiceTimeInterval" value="4" />
  </appSettings>

  <!--Mail Setting -->
  <system.net>
    <mailSettings>
      <smtp>
        <network userName="support@eknowid.com" password="password500!" host="smtp.1and1.com" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>