<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SocialAuthConfiguration" type="Brickred.SocialAuth.NET.Core.SocialAuthConfiguration, SocialAuth-net, Version=2.3.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowLocation="true" />
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <paypal>
    <settings>
      <!-- The URL that the user must be redirected to in order to login and approve some payment actions-->
      <add name="paypalUrl" value="https://www.sandbox.paypal.com/webscr?cmd=" />

      <!-- Testing API endpoint -->
      <add name="mode" value="sandbox" />
      <add name="endpoint" value="https://api-3t.sandbox.paypal.com/2.0" />

      <!--Test Host Url-->
      <add name="HostingEndpoint" value="https://74.208.246.224/eknowIDTest" />

      <!--Live API endpoint -->
      <!--<add name="endpoint" value="https://api-3t.paypal.com/2.0/"/>
      <add name="IPNEndpoint" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>-->

      <!--Host Url-->
      <!--<add name="HostingEndpoint" value="https://eknowid.com" />-->

      <!-- The number of times a request must be retried if the API endpoint is unresponsive -->
      <add name="requestRetries" value="3" />
      <add name="IPAddress" value="eknowid.com" />
      <add name="connectionTimeout" value="360000" />
    </settings>
    <accounts>

      <!--Add API credentials - 3 token or client certificate. -->

      <!-- live Account Details  -->
      <!--<account apiUsername="accounts_api1.arrestfree.com" apiPassword="2EBWYXZT9LDT9XD9" apiSignature="AfRtxWYlS02MPUg1beezIhQ6032YAER9wh.yYiLM.7nFmwMnB-9fhqsl" applicationId="APP-80W284485P519543T" certificateSubject="" signatureSubject="" />-->

      <!-- Test Account Details -->
      <account apiUsername="savaliya.mayur101-facilitator_api1.gmail.com" apiPassword="73Q9Z4TW69G989DA" apiSignature="AFcWxV21C7fd0v3bYYYRCpSSRl31ALHbVpHMi2foRDPmaiNTwYhc3MQ4" certificateSubject="" signatureSubject="" />

    </accounts>
  </paypal>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="MerchantLog.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="EmailPath" value="../Htmls/Emails/" />
    <!-- RChilli B2B Details-->   
    <add key="ServiceUrl" value="http://rest.rchilli.com/RChilliParser/Rchilli/parseResumeBinary" />
    <add key="UserKey" value="WTR3V2A6RVE" />
    <add key="Version" value="7.0.0" />
    <add key="subUserKey" value="Ekentech.com" />

    <!-- Tazwork Test Account Credentials -->
    <add key="TazWorksUserId" value="shyams" />
    <add key="TazWorksPwd" value="g5h#eN*#4W" />
    <add key="TazWorksProduct" value="demo" />

    <!-- Tazwork Live Account Credentials -->
    <!--<add key="TazWorksUserId" value="eknowid_xml" />
    <add key="TazWorksPwd" value="ek0w1d-xm1!$" />
    <add key="TazWorksProduct" value="eknowid" />-->

    <!-- Tazwork Live Account URL -->
    <!--<add key="TazWorksURL" value="https://eknowid.instascreen.net/send/interchange" />-->

    <!-- Tazwork Test Account URL -->
    <add key="TazWorksURL" value="https://lightning.instascreen.net/send/interchange" />

    <add key="Email" value="support@eknowid.com" />

    <!--Live Express Checkout Details start-->
    <!--<add key="expressCheckoutURL" value="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick" />
    <add key="paypalemail" value="accounts@arrestfree.com" />-->

    <!--Test Express Checkout Details start-->
    <add key="expressCheckoutURL" value="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_xclick" />
    <add key="paypalemail" value="alohateamlmc@gmail.com" />

    <!-- Staging Setting -->
    <add key="FailedURL" value="74.208.246.224/eknowIDTest/pages/SearchByProf_PaymentInfo.aspx" />
    <add key="SuccessURL" value="74.208.246.224/eknowIDTest/pages/SearchByProf_PaymentInfo.aspx" />

    <!-- Live Setting -->
    <!--<add key="FailedURL" value="https://eknowid.com/pages/SearchByProf_PaymentInfo.aspx" />
    <add key="SuccessURL" value="https://eknowid.com/pages/SearchByProf_PaymentInfo.aspx" />-->

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

    <!-- Wrapper partner account credentials key -->
    <add key="WrapperPartnerApiKey" value="e63dfcab300260b2591f585126ede56627db4ef8" />

    <!-- Host -->
    <add key="Host" value="http://74.208.246.224/eknowIDTest/" />

  </appSettings>

  <!-- SMTP Mail settings -->
  <system.net>
    <mailSettings>
      <smtp>
        <network userName="support@eknowid.com" password="password500!" host="smtp.1and1.com" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>

    <!-- Local Envirment connection string -->
    <!--<add name="EknowIDEntities" connectionString="metadata=res://*/EknowID.csdl|res://*/EknowID.ssdl|res://*/EknowID.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=683-2140\SQLEXPRESS;Initial Catalog=ProducationBuild;Persist Security Info=True;MultipleActiveResultSets=True;integrated security=true;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="eknowIDContext" connectionString="data source=683-2140\SQLEXPRESS;initial catalog=ProducationBuild; MultipleActiveResultSets=True;integrated security=true;App=EntityFramework" providerName="System.Data.SqlClient" />-->

    <!-- Staging envirment connection string -->
    <add name="EknowIDEntities" connectionString="metadata=res://*/EknowID.csdl|res://*/EknowID.ssdl|res://*/EknowID.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=74.208.246.224\sqlexpress;Initial Catalog=ProducationBuild;Persist Security Info=True;User ID=sa;Password=eknowid;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="eknowIDContext" connectionString="data source=74.208.246.224\sqlexpress;initial catalog=ProducationBuild; uid= sa; pwd=eknowid;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="elmahConnectionSyring" connectionString="Data Source=74.208.246.224\sqlexpress;Initial Catalog=ProducationBuild;User Id=sa;Password=eknowid" providerName="System.Data.SqlClient" />

    <!-- Producation Envirment connection string -->
    <!--<add name="EknowIDEntities" connectionString="metadata=res://*/EknowID.csdl|res://*/EknowID.ssdl|res://*/EknowID.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s15427768\SQLEXPRESS;Initial Catalog=Production1.5;Persist Security Info=True;User ID=sa;Password=eknowid;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="eknowIDContext" connectionString="data source=s15427768\SQLEXPRESS;initial catalog=Production1.5; uid= sa; pwd=eknowid;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="elmahConnectionSyring" connectionString="Data Source=s15427768\sqlexpress;Initial Catalog=Production1.5;User Id=sa;Password=eknowid" providerName="System.Data.SqlClient" />-->

    <!--<add name="EknowIDEntities" connectionString="metadata=res://*/EknowID.csdl|res://*/EknowID.ssdl|res://*/EknowID.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=74.208.14.75\SQLEXPRESS;Initial Catalog=Production1.5;Persist Security Info=True;User ID=sa;Password=eknowid;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="eknowIDContext" connectionString="data source=74.208.14.75\SQLEXPRESS;initial catalog=Production1.5; uid= sa; pwd=eknowid;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="elmahConnectionSyring" connectionString="Data Source=74.208.14.75\sqlexpress;Initial Catalog=Production1.5;User Id=sa;Password=eknowid" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <system.web>
    <sessionState timeout="20" />
    <httpHandlers>
      <add verb="GET,HEAD,POST" type="jquery.spellchecker.JQuerySpellCheckerHandler" path="JQuerySpellCheckerHandler.ashx" />
      <add verb="*" path="*.sauth" type="Brickred.SocialAuth.NET.Core.CallbackHandler" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="SocialAuthAuthentication" type="Brickred.SocialAuth.NET.Core.SocialAuthHttpModule" />
    </httpModules>
    <customErrors defaultRedirect="Pages/CustomErrorPage.aspx" mode="Off" />
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" />
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
  </system.web>
  <!--IIS7 Support-->
  <system.webServer>
  <!--<httpRedirect enabled="true" exactDestination="true" httpResponseStatus="Found">
         <add wildcard="*.aspx" destination="/app_offline.htm" />
      </httpRedirect>-->
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>-->
    <!--<modules runAllManagedModulesForAllRequests="true"></modules>-->
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add verb="GET,HEAD,POST" name="JQuerySpellCheckerHandler" type="jquery.spellchecker.JQuerySpellCheckerHandler" path="JQuerySpellCheckerHandler.ashx" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="socialAuth.NET" verb="*" path="*.sauth" type="Brickred.SocialAuth.NET.Core.CallbackHandler" />
    </handlers>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="SocialAuthAuthentication" type="Brickred.SocialAuth.NET.Core.SocialAuthHttpModule" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <!-- Social Auth Configuration-->
  <SocialAuthConfiguration>
    <Providers>
      <add WrapperName="FacebookWrapper" ConsumerKey="427199517370043" ConsumerSecret="bd052f82df2c43286641424d4cac4ed3" AdditionalScopes="user_photos,read_stream,publish_stream" />
      <add ScopeLevel="CUSTOM" WrapperName="LinkedInWrapper" ConsumerKey="81gr3mailugm2v" ConsumerSecret="xCCWtc3tzlw9aPpL" AdditionalScopes="r_basicprofile,r_emailaddress,rw_company_admin,w_share" />
    </Providers>
    <Allow Files="*" />
    <Authentication Enabled="true" LoginUrl="index.aspx" DefaultUrl="index.aspx" />
  </SocialAuthConfiguration>
  <elmah>
    <security allowRemoteAccess="true" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmahConnectionSyring" />
    <errorMail from="alohahelpmail@gmail.com" to="alohahelpmail@gmail.com" subject="Error Report" async="false" useSsl="true" />
  </elmah>
  <location path="elmah.axd">
    <system.web>
      <!--<authentication mode="Forms" />-->
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="SocialAuth">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
   <system.web.extensions>
       <scripting>
           <webServices>               
               <jsonSerialization maxJsonLength="819200000"/>
           </webServices>
       </scripting>
   </system.web.extensions>
</configuration>