<div id="section-2">
    <div class="container">
        <div class="row aboutus-main">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row about-left">
                    <h3>About Us</h3>
                    <p class="top-margin">
                        <span>eKnowID</span> was created because we understand personal information is constantly evolving, and people are seeking more control over their personal information. We believe there is an increasing need to take background checking technologies from the corporate and governmental spheres and make them accessible for private use.
                    </p>
                    <p>
                        <span>eKnowID</span>’s online suite of background checking tools, powered by the latest technology offered to banking, employers, housing authorities, non-profits, job seekers, students and school faculty, is now available to individuals looking to take control of their own personal information.We value accuracy, as well as your time and urgency: all U.S. background checks are completed within 72 hours and international checks are completed in 2 weeks.
                    </p>
                </div>

                <div class="row about-left">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="innovative-technology">
                            <img src="https://eknowid.com/images/innovation_img.png" />
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div class="innovative-technology-heading">
                            <h4>Innovative Technology</h4>
                        </div>
                        <div>
                            <p class="top-margin">
                                The creators of <span>eKnowID</span> have a history in developing innovative and user-friendly background investigation products. For example:
                            </p>
                        </div>

                        <div class="heading">
                            <div>Arrestfree.com</div>
                            <div class="subheading">Enables you to pull your criminal background information</div>
                        </div>

                        <div class="heading">
                            <div>Collegescreen.com</div>
                            <div class="subheading">Provides students and colleges with background screening packages</div>
                        </div>

                        <div class="heading">
                            <div>C.L.E.A.R. (Criminal Link Exchange And Reporting)</div>
                            <div class="subheading">The first identity theft detection system of its kind.</div>
                        </div>

                        <div class="innovative-technology">
                            <p>We hold provisional patents on our technology services.</p>
                        </div>
                    </div>
                </div>

                <div class="row about-left">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="innovative-technology">
                            <img src="https://eknowid.com/images/innovation_img.png" />
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div class="innovative-technology-heading">
                            <h4>Compliant Focused</h4>
                        </div>
                        <div>
                            <p class="top-margin">
                                Unlike our competitors, we are committed to providing the most up-to-date technologies, and our private investigators help you uncover the most comprehensive data available about your background. We hold active membership with a number professional associations and organizations, including National Association of Professional Background Screeners (NAPBS) and Better Business Bureau (BBB).
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row about-left">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="innovative-technology">
                            <img src="https://eknowid.com/images/innovation_img.png" />
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div class="innovative-technology-heading">
                            <h4>Our Money Back Guarantee </h4>
                        </div>
                        <div>
                            <p class="top-margin">
                                We are so confident our records are the best that we are offering a money back guarantee. If criminal records should have been returned based on our Coverage, and they were not, you may receive a refund for your background check.
                            </p>

                            <p>
                                You must agree to the Coverage as listed in the Terms and Conditions, and in the event you challenge a complete report and can prove that a record exists in a jurisdiction included in the Coverage area, eKnowID will refund the purchase in full.
                            </p>

                            <p>
                                The money back guarantee does not apply to the following:
                            </p>
                            <ul>
                                <li>Records not located in the Coverage area.</li>
                                <li>Records expunged by the courts.</li>
                                <li>Juvenile records or arrest records that did not result in conviction.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row about-left">
                    <div class="col-lg-3 col-lg-offset-2 col-sm-6 col-xs-12">
                        <img width="300" height="38" alt="KENTECH Consulting, Inc., Screening - Background &amp; Employment, Chicago, IL" src="https://seal-chicago.bbb.org/logo/sehzbus/kentech-consulting-88032082.png" id="bbblinkimg" style="padding: 0px; border: none;">
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <img width="115" border="0" height="55" oncontextmenu="return false;" alt="Click for company profile" src="https://smarticon.geotrust.com/smarticon?ref=eknowid.com" name="xijqmwgd">
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="about-right">
                    <div class="row heading">
                        <div class="col-md-12">
                            Blog Updates
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 " style="padding-right:0px;">
                            <div style="margin-top:15px">
                                <img src="https://eknowid.com/Images/blog_img.png" />
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 image-right-text">
                            AP IMPACT: When your criminal past isn't yours
                            <p style="color:#404040;font-size:12px;font-weight:normal;">It was just over two years ago when my brother, after being unemployed ...</p>
                            <span style="color:#3a6185;float:right;">Read More</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12" style="border-bottom:1px solid black;width:100%;margin-top:10px;"></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 the-fact">The facts</div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 the-fact">
                            <ul>
                                <li>Identity theft affects about 8-12 million people every year. (Mitch Lipka, Reuters)</li>
                                <li>College-aged students are at high risk for identity theft (The United States Department of Education)</li>
                                <li>In the first four months of fiscal 2013, the IRS opened 542 investigations of possible cases of tax-related identity theft, as compared to 898 for all of fiscal year 2013 and 276 in fiscal year 2011. (Linda Stern, Reuters)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>