<div id="section-2">
    <div class="container">
        <div class="row contact-form">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="heading">
                    Contact Information
                </div>
                <p>
                    Customer service is available 24 hours a day, 7 days a week via email to meet your needs and address all emergencies.
                </p>
                <p>
                    You may also contact our corporate office via phone, fax, email or postal mail at any time.
                </p>

                <div class="row">
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div>
                            <b>Address:</b>
                            <ul>
                                <li>520 W. Erie</li>
                                <li>Suite 340</li>
                                <li>Chicago, IL 60606</li>
                            </ul>
                        </div>

                        <div class="margin-top-10px">
                            <b>Phone:</b>
                            <ul>
                                <li>1-888-SIX CHEC (749-2432)</li>
                                <li>8-5pm CST</li>
                            </ul>
                        </div>

                        <div class="margin-top-10px">
                            <b>Fax:</b>
                            <ul>
                                <li>1-312-276-8989</li>
                            </ul>
                        </div>

                        <div class="margin-top-10px">
                            <b>Email:</b>
                            <ul>
                                <li>support@eknowid.com</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-1 col-sm-12 col-xs-12">
                        <div class="google-maps">
                            <iframe width="425" height="260" frameborder="0" ng-src="https://maps.google.co.in/maps?f=q&source=s_q&hl=en&geocode=&q=200+S,+Wacker+Chicago,+IL+60606&aq=&sll=41.880404,-87.637222&sspn=0.011071,0.022724&ie=UTF8&hq=&hnear=200+S+Wacker+Dr,+Chicago,+Cook,+Illinois+60606,+United+States&t=m&ll=41.880425,-87.637253&spn=0.016615,0.036478&z=14&iwloc=A&output=embed" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                        </div>
                        <div>
                            <a class="viewMap" target="_blank" style="color: #0000FF; text-align: left" href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=200+S,+Wacker+Chicago,+IL+60606&amp;aq=&amp;sll=41.880404,-87.637222&amp;sspn=0.011071,0.022724&amp;ie=UTF8&amp;hq=&amp;hnear=200+S+Wacker+Dr,+Chicago,+Cook,+Illinois+60606,+United+States&amp;t=m&amp;ll=41.880425,-87.637253&amp;spn=0.016615,0.036478&amp;z=14&amp;iwloc=A">
                                View LargerMap
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>