<div id="section-2" ng-cloak>
    <div class="container">
        <div class="row enter-prise">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="heading">
                    Enterprise Solutions
                </div>
                <p>
                    Looking for an online solution to run Employee/Tenant Checks?
                </p>
                <p>
                    Kentech Consulting, the parent company of eKnowID, enables businesses with direct access to a myriad of up-to-the-minute data sources for making smart decisions
                    and provides innovative and expert solutions for sectors like Housing, Employment, Education, Healthcare, Banking, etc. Verification of references, biometric
                    fingerprint scanning, professional licenses, driving records, drug screening, credit history, civil history, criminal background checks FCRA compliant
                    background screening, identity verification (SSA Direct), sex offender checks, nationwide crime-watch, people search, credit reports,
                    OFAC are a part of the services offered.
                </p>

                <p>
                    Kentech consulting’s Employment check enables clients to create secure work environments, improve corporate governance, satisfy compliance demands,
                    manage intelligence assets, and gain the elusive competitive advantage derived from developing and maintaining superior human capital. Kentech’s
                    Employment solutions include:
                </p>
                <div>
                    <ul>
                        <li>National Criminal File</li>
                        <li>International Criminal File</li>
                        <li>County / Federal Criminal/Civil Records</li>
                        <li>Previous Employment Verification</li>
                        <li>Professional License Verification</li>
                        <li>Biometric Fingerprint Scanning</li>
                        <li>SSN Verification</li>
                        <li>OFAC – US Patriot Act compliant</li>
                        <li>Education Verification</li>
                        <li>Applicant Tracking & Recruiting Solutions</li>
                    </ul>
                </div>

                <p>
                    Tenant screening enables better housing and services to your tenants, ultimately fulfilling the vision of better communities. Tenant Solutions include:
                </p>

                <div>
                    <ul>
                        <li>SSN Verification directly</li>
                        <li>National Credit Report</li>
                        <li>Crim-WatchTm</li>
                        <li>Court Eviction</li>
                        <li>Housing Authority Integration Solutions</li>
                        <li>Rental History Verification</li>
                        <li>Sex Offender Registry Search</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>