<div>
    <div class="modal-content" style="text-align:center">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" data-ng-click="modalOptions.close();">&times;</button>
            <h4 class="modal-title" style="color:#000000">Who do you want a report on?</h4>
        </div>
        <div class="modal-body">
            <div class='popup-button'>
                <button class="btn btn-success basic "
                        style="background-color: green; border-radius: 2px; text-transform: uppercase; padding: 15px 35px; font-weight: bold; text-decoration: none;" aria-hidden="true" data-ng-click="modalOptions.ok();">
                    Candidate / Employee
                </button>
                <p style="margin-top:10px;">OR</p>
                <div class='popup-self-button'>
                    <a href="../Pages/getStarted.aspx" class="btn btn-success basic" style="background-color: green; border-radius: 2px;
                                                    text-transform: uppercase; padding: 15px 35px; font-weight: bold;
                                                    text-decoration: none;">Myself</a>
                </div>
            </div>
        </div>
    </div>
</div>