<footer ng-controller="headerCtrl">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-0 col-md-6 col-sm-12 col-xs-12 padding-15px">
                <article><a data-tweet-limit="1" data-show-replies="false" data-chrome="noscrollbar noexpand noborders transparent" data-widget-id="345890537678708738" href="https://twitter.com/eKnowID" data-dnt="true" class="twitter-timeline">Tweets by @eKnowID</a></article>
            </div>
            <div class="col-lg-3 col-lg-3 col-sm-12 col-xs-12 padding-15px">
                <article>
                    <p><img src="images/facebook_f_icon.png" /> <span class="facebook">Join us on Facebook</span></p>
                    <p class="facebook-count">{{totalCount | number }}</p>
                    <p class="facebook" style="margin-left:35px;margin-top:-15px;">Fans on Facebook </p>
                    <p class="facebook-fun"><a target="_blank" href="https://www.facebook.com/eknowid" style="color: #4A80C0 !important; cursor: pointer;text-decoration:none;">'Like' us on Facebook</a></p>
                </article>
            </div>
            <div class="col-lg-3 col-lg-3 col-sm-12 col-xs-12 padding-15px">
                <h4>Contact Us</h4>
                <article style="color: #bcbcbc; font-family: helvetica; ">
                    We are available always to meet your needs.Please contact our corporate office via phone for further information.

                    <div style="line-height: 200%;margin-top:10px;">
                        Phone : 1-888 -SIX CHEC (749-2432)
                        <a style="text-decoration: none; color: #bcbcbc" href="mailto:support@eknowid.com ">
                            support@eknowid.com
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="footerBtm">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="footermenu">
                        <li><a href="">Home</a></li>
                        <li><a href="">Why eKnowID</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Feedback</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href=""> Terms of Use</a> </li>
                        <li><a target="_blank" href=""> Blog</a></li>
                        <li><a href="">FAQs</a></li>
                        <li><a target="_blank" href="">Press</a></li>
                    </ul>
                </div>
                <div class="col-lg-4  copy">
                    Copyright © 2014.  eKnowID. All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</footer>