<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Testing Credentials -->
    <add key="TazWorksUserId" value="kentech_xml" />
    <add key="TazWorksPwd" value="password12" />
    <add key="TazWorksProduct" value="XML Interchange Testing" />
    <add key="TazWorksURL" value="https://lightning.instascreen.net/send/interchange" />

    <!-- Live Credentials -->
    <!--<add key="TazWorksUserId" value="eknowid_xml"/>
    <add key="TazWorksPwd" value="ek0w1d-xm1!$"/>
    <add key="TazWorksProduct" value="eknowid ala carte"/>
    <add key="TazWorksURL" value="https://eknowid.instascreen.net/send/interchange"/>-->

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
